/* CSS variables */
:root {
	--pale-blue: #2563eb;
	/* Dark mode custom colors */
	--dark-fg: #f0f0f0;
	--dark-bg: #0a0a0a;
}

body {
	font-family: sans-serif;
	max-width: 800px;
	margin: auto;
}

@media (prefers-color-scheme: dark) {
	html {
		color: var(--dark-fg);
		background-color: var(--dark-bg);
	}
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 0.25rem;
	margin-top: 3rem;
}

@media (prefers-color-scheme: dark) {
	a.nav {
		color: var(--dark-fg);
	}
	a.nav:visited {
		color: var(--dark-fg);
	}
}

a {
	color: var(--pale-blue);
}

a:hover {
	text-decoration: none;
}

a:visited {
	color: MediumBlue;
}

@media (prefers-color-scheme: dark) {
	a {
		color: DodgerBlue;
	}
	a:visited {
		color: var(--pale-blue);
	}
}

h1 > a {
	color: inherit;
	text-decoration: none;
}

h1 > a:hover {
	text-decoration: underline;
}

h1 > a:visited {
	color: inherit;
}

h2 > a {
	opacity: 50%;
	text-decoration: none;
}

h2 > a:hover {
	opacity: 100%;
}

img {
    margin-left: 0;
    width: 40%;
    height: 40%;
    background-color: white;
}

details {
	border-style: solid;
	border-width: 1px;
	margin-bottom: 1.5rem;
}

details[open] > summary {
	border-style: none none solid none;
	border-width: 1px;
}

summary {
	padding: 0.5rem;
}

details[open] > div {
	padding: 0.5rem;
}
